.name {
	font-size: 14px;
	font-family: sans-serif;
  text-anchor: start;
  alignment-baseline: middle;
}
.exon {
	fill: #EB4034;
}
.line {
	stroke: black;
	stroke-width: 2px;
  stroke-opacity: 1;

}

